body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--neutral-light);

}

:root {
  --primary: #8b9f5e;
  --primary-light: #b9c996;
  --primary-dark: #304e3b;
  --neutral-dark: #251f1d;
  --neutral-light: #EBDED7;
  --secondary: #dea550;
  box-sizing: border-box;
}

.cat-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.one-cat-block {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  transform: translateY(var(--translate-y,0));
  min-width: 300px;
  width: 20%;
  height: 400px;
  margin: 1rem;
  padding: 10px;
  background-color: var(--primary);
}

.one-cat-block:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.image-container {
  width: 90%;
  height: 16rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-style: solid;
  border-color: var(--secondary);
  border-radius: 48px;
}


.voting-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.voting-buttons {
  width: 6rem;
  border-radius: 48px;
  background-color: var(--neutral-light);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.voting-buttons:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.thumbup {
  color: rgb(27, 173, 27);
  padding: 1rem;
}

.thumbdown {
  color: rgb(194, 44, 44);
  padding: 1rem;
}